# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Database files
db.sqlite3

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# IDE / OS files
*.vscode/
*.DS_Store

